body {
    margin: 0;
    font-family: 'Poppins';
    color: #342E37;
    
}
  
canvas {
    display: block;
    vertical-align: bottom;
  }
  
  /* ---- particles.js container ---- */
  
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-color: #FAFFFD; */
    background: rgba(60, 145, 230, 0.3);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.row{
    display: flex;
    flex-direction: row;
    padding: 5px;

}
.col{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.card{
    width: 100%;
    background-color: #FAFFFD;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #FAFFFD;
    margin-top: 20px;
    box-shadow: 1px 8px 24px -8px #342E37;
}
.card img{
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
}
.card h1{
      align-self: center;
      font-weight: bold;
      font-size: 48px;
}
.card h1 span, h2 span{
    color: #3C91E6;
}
.about_me_list{
    list-style: none;
    padding: 0;
    /* padding-left: 10px; */
}
.about_me_list li{
    position: relative;
    padding-left: 25px;
}
.about_me_list li:before{
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height:20px;
    top:0;
    left:0;
    bottom:0;
    margin: auto 0;
}
.about_me_list li#bangladesh:before{
    background-image: url('../assets/bangladesh.png');
}
.about_me_list li#germany:before{
    background-image: url('../assets/germany.png');
}
.about_me_list li#study:before{
    background-image: url('../assets/study.png');
}
.about_me_list li#work:before{
    background-image: url('../assets/work.webp');
}
.about_me_list li#gsap:before{
    background-image: url('../assets/gsap.png');
}
.about_me_list li#js:before{
    background-image: url('../assets/js.png');
}
.about_me_list li#backend:before{
    background-image: url('../assets/backend.png');
}
.about_me_list li#database:before{
    background-image: url('../assets/database.webp');
}

h2{
    margin: 0;
    font-size: 36px;
}
h3{
    margin: 0;
    margin-top: 10px;
}
hr{
    width: 80%;
    opacity: 0.5;
    /* margin: 0 auto; */
}
.row.top{
    margin-bottom: 20px;
}
.row.row2{
    margin-top: 20px;
    justify-content: space-between;
}
.contact_links{
    padding: 0;
}
.buttons{
    display: flex;
    flex-direction: row;
    background: #FA824C;
    padding: 8px;
    border-radius: 10px;
    min-width: 160px;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}
.buttons:hover{
    background: #e37643;
}
.buttons img{
    width: 30px;
    height: auto;
    align-self: center;
    margin-left: 0;
}
.buttons p{
    align-self: center;
    font-size: 12px;
    font-weight: normal;
    color: #FAFFFD;
    margin-left: 10px;
}
.contact_links a{
    text-decoration: none;
}
.buttons.mail{
    background: #9FD356;
}
.buttons.mail:hover{
    background: #6b8e39;
}
.mail_link{
    text-decoration: none;
}
.row.bottom_row .col{
    margin-right: 40px;
}
.contact_me{
    text-align: right;
}
@media (min-width: 1400px){
    .container{
        max-width: 1320px;
    }
}
@media (min-width: 1200px) and (max-width: 1399px){
    .container{
        max-width: 1140px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .container{
        max-width: 960px;
    }
   
}
@media (min-width: 768px) and (max-width: 991px){
    .container{
        max-width: 720px;
    }
    
}
@media (min-width: 576px) and (max-width: 767px){
    .container{
        max-width: 540px;
    }
}
@media (max-width: 575px){
    .container{
        max-width: 100%;
    }
    .card h1{
        font-size: 32px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
    }
    h2{
        font-size: 24px;
    }
}
@media (max-width: 992px) {
    .row.top{
        flex-direction: column-reverse;
    }
    .card img{
        margin-right: auto;
        max-width: 150px;
    }
    .row.row2{
        flex-direction: column-reverse;
    }
    .contact_me{
        text-align: center;
    }
    .buttons{
        min-width: unset;
        max-width: 210px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .about_me_list li{
        font-size: 14px;
    }
    .row.row2 h2{
        text-align: center;
    }
    .row.bottom_row{
        flex-direction: column;
    }
    .contact_links{
        justify-content: center;
    }
    .row.bottom_row h3{
        text-align: center;
    }
    .row.bottom_row .col{
        margin-right: 0;
    }
}